<!DOCTYPE html>

<div class="container text-center">

  <h1><%= @category.language%></h1><br/><hr/>
  <%= image_tag @category.image.url(:medium) %>
  <div class="rating">
    <p><%= @category.rating%></p>
  </div>
  <p><%= @category.description%></p>
  <hr/>
  <h3 class="text-center">PROJECTS</h3>
  <div class="container projectsection">

  <% if @category.projects.any?%>
  <ul class="listdecorations">
    <% @category.projects.each do |project|%>
      <li><h2><%= project.project%></h2></li>
      <li><i class="fa fa-github fa-2x" aria-hidden="true"></i> <%= link_to "github", project.link, :target => "_blank" %></li>
      <li><%= project.description%><br/></li>
      <hr/>
    <%end%>
  </ul>
  <%else%>
    <p>The projects are under development!</p>
  <%end%>
  <hr/>

</div>
  <div class="container align">

    <p><%= link_to "Return to Home", root_url%></p>
  </div>
</div>
