<!DOCTYPE html>

<div class="container text-center">

  <h1><%= @category.language%></h1><br/><hr/>
  <div class="btn btn-secondary">
    <%= image_tag @category.image.url(:medium) %>
  </div>
  <div class="rating">
    <p class="btn btn-secondary"><%= @category.rating%>% Experience</p>
  </div>
  <p><%= @category.description%></p>
  <hr/>
  <h3 class="text-center">PROJECTS</h3>
  <div class="container projectsection">

  <% if @category.projects.any?%>
  <ul class="listdecorations">
    <% @category.projects.each do |project|%>
      <li><h2><%= link_to project.project, project.link, :target => "_blank"%></h2></li>
      <li><%= project.description%><br/></li>
      <hr/>
    <%end%>
  </ul>
  <%else%>
    <p>The projects are under development!</p>
  <%end%>
  <hr/>

</div>
  <div class="container align">

    <p><%= link_to "Return to Home", root_url%></p>
  </div>
</div>
