<!DOCTYPE html>
<div class="container-fluid">

  <% if user_signed_in? %>
    <li class="listdecorations">
      <%= link_to('Logout', destroy_user_session_path, class:"btn", :method => :delete) %>
    </li>
  <% end %>
  <div class="row">
    <%= render("home/jumbotron")%>
  </div>

  <div class="row">
    <%= render("home/about")%>
  </div>

  <div class="row">
    <%= render("/home/skills")%>
  </div><hr/>

  <div class="row">
    <div class="container">
      <button class="btn btn-primary btn-lg btn-block" type="button" name="button"><%= link_to "references"%></button>

    </div>
  </div>
  <div class="row">
    <%= render("/home/posts")%>
  </div>
  <div class="row">
  </div>
</div>
