<!DOCTYPE html>

<div class="container text-center">

  <h1><%= @category.language%></h1><br/><br/>
  <%= image_tag @category.image.url(:medium) %>
  <div class="rating">
    <p><%= @category.rating%></p>
  </div>
  <p><%= @category.description%></p>
  <hr/>
  <div class="container">

  <% if @category.projects.any?%>
  <ul class="listdecorations">
    <% @category.projects.each do |project|%>
      <li><h2><%= project.project%></h2></li>
      <li><%= project.description%><br/>  <%= link_to "Edit", edit_category_project_path(@category, project), class: "btn btn-primary" %> <%= link_to "Delete", category_project_path(@category, project), class: "btn btn-danger", :data => {:confirm => "Are you sure?", :method => "delete"}%></li>
      <hr/>
    <%end%>
  </ul>
  <%else%>
    <p>The projects are under development!</p>
  <%end%>
  <p><%= link_to "Add a project", new_category_project_path(@category)%></p>
  <hr/>

</div>
  <div class="container align">
    <p><%= link_to "Edit", edit_category_path(@category)%></p>
    <p><%= link_to "Delete", category_path(@category), :data => {:confirm => "You sure?", :method => "delete"}%></p>
    <p><%= link_to "Return to Home", categories_path%></p>
  </div>
</div>
